:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   font-weight: 500;
   color: #9dd;
   text-decoration: inherit;
}
a:hover {
   color: #5dd;
}

body {
   display: flex;
   min-width: 320px;
   min-height: 100vh;
   padding: 3rem;
}

h1 {
   font-size: 3.2em;
   line-height: 2;
}

h2 {
   font-size: 1.5em;
   line-height: 2;
}

ul {
   display: flex;
   gap: 1.5rem;
   list-style: none;
}

p {
   line-height: 2.5em;
}

button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   margin: 1rem 0;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.5s;
}
button:hover {
   border-color: #5dd;
}
button:focus,
button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color;
}

footer {
   border-top: 1px solid #666;
   padding-top: 1rem;
   margin-top: 2rem;
   font-size: 0.8rem;
}
